.form{
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin: auto;
    gap: 1rem;
}
.input{
    font-size: 18px;
    text-align: center;
}
.form-button{
    color: blue;
    background-color: bisque;
    font-size: 18px;
   border-style: none;
   padding: 7px;
   cursor: pointer;
}