 .form-control label,
        .form-control input {
            display: block;
        }
        .form-control input{
            border: 2px solid rgb(117, 205, 206);
            border-radius: 2px;
            width: 100%;
        }
        button{
            font:inherit;
            border: 2px solid blue ;
            background: white;
            color: rgb(67, 67, 3);
            margin-top: 1rem;
        }
        button:hover,
        button:active{
            background-color: blueviolet;
            color: white;
        }
        .product-form{
            width: 20rem;
                max-width: 90%;
                margin: auto;
        }